.version.resources /* version checker */
{
	color: #0000E8;
	background-color: #AC825B;
}

.html
{
	background: #000000 url("../images/dot-fill.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1623px;
	background: transparent url("../images/u174-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(60%, rgba(0, 0, 0, 0.85)),to(rgba(22, 68, 19, 0.9)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 27px;
	margin-left: auto;
	margin-right: auto;
}

#pu205
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 23px;
}

#u205
{
	z-index: 57;
	width: 755px;
}

#menuu80
{
	z-index: 2;
	width: 755px;
	margin-top: 5px;
}

#u81
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
}

#u82
{
	z-index: 5;
	width: 82px;
	height: 34px;
	margin-right: -10000px;
}

#u84-4
{
	width: 45px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu82:hover #u84-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu82:hover #u82,#pu82.MuseMenuActive #u82
{
	width: 82px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u82.f3s_mid,#pu82:hover ._u82.f3s_mid,#pu82.MuseMenuActive ._u82.f3s_mid
{
	width: 82px;
	height: 26px;
}

._u82.f3s_top,._u82.f3s_bot,#pu82:hover ._u82.f3s_top,#pu82:hover ._u82.f3s_bot,#pu82.MuseMenuActive ._u82.f3s_top,#pu82.MuseMenuActive ._u82.f3s_bot
{
	width: 82px;
	height: 4px;
}

#u1643
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 84px;
}

#u1644
{
	z-index: 14;
	width: 88px;
	height: 34px;
	margin-right: -10000px;
}

#u1646-4
{
	width: 51px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu82.MuseMenuActive #u84-4,#pu1644:hover #u1646-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1644:hover #u1644,#pu1644.MuseMenuActive #u1644
{
	width: 88px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u1644.f3s_mid,#pu1644:hover ._u1644.f3s_mid,#pu1644.MuseMenuActive ._u1644.f3s_mid
{
	width: 88px;
	height: 26px;
}

._u1644.f3s_top,._u1644.f3s_bot,#pu1644:hover ._u1644.f3s_top,#pu1644:hover ._u1644.f3s_bot,#pu1644.MuseMenuActive ._u1644.f3s_top,#pu1644.MuseMenuActive ._u1644.f3s_bot
{
	width: 88px;
	height: 4px;
}

#u154
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u155
{
	z-index: 23;
	width: 108px;
	height: 34px;
	margin-right: -10000px;
}

#u158-4
{
	width: 71px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1644.MuseMenuActive #u1646-4,#pu155:hover #u158-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu155:hover #u155,#pu155.MuseMenuActive #u155
{
	width: 108px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u155.f3s_mid,#pu155:hover ._u155.f3s_mid,#pu155.MuseMenuActive ._u155.f3s_mid
{
	width: 108px;
	height: 26px;
}

._u155.f3s_top,._u155.f3s_bot,#pu155:hover ._u155.f3s_top,#pu155:hover ._u155.f3s_bot,#pu155.MuseMenuActive ._u155.f3s_top,#pu155.MuseMenuActive ._u155.f3s_bot
{
	width: 108px;
	height: 4px;
}

#u167
{
	width: 186px;
	min-height: 34px;
	margin-right: -10000px;
	left: 284px;
}

#u168
{
	z-index: 32;
	width: 186px;
	height: 34px;
	margin-right: -10000px;
}

#u170-4
{
	width: 149px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu155.MuseMenuActive #u158-4,#pu168:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu168:hover #u168,#pu168.MuseMenuActive #u168
{
	width: 186px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u168.f3s_mid,#pu168:hover ._u168.f3s_mid,#pu168.MuseMenuActive ._u168.f3s_mid
{
	width: 186px;
	height: 26px;
}

._u168.f3s_top,._u168.f3s_bot,#pu168:hover ._u168.f3s_top,#pu168:hover ._u168.f3s_bot,#pu168.MuseMenuActive ._u168.f3s_top,#pu168.MuseMenuActive ._u168.f3s_bot
{
	width: 186px;
	height: 4px;
}

#u180
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 472px;
}

#u181
{
	z-index: 41;
	width: 115px;
	height: 34px;
	margin-right: -10000px;
}

#u184-4
{
	width: 79px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu168.MuseMenuActive #u170-4,#pu181:hover #u184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu181:hover #u181,#pu181.MuseMenuActive #u181
{
	width: 115px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u181.f3s_mid,#pu181:hover ._u181.f3s_mid,#pu181.MuseMenuActive ._u181.f3s_mid
{
	width: 115px;
	height: 26px;
}

._u181.f3s_top,._u181.f3s_bot,#pu181:hover ._u181.f3s_top,#pu181:hover ._u181.f3s_bot,#pu181.MuseMenuActive ._u181.f3s_top,#pu181.MuseMenuActive ._u181.f3s_bot
{
	width: 115px;
	height: 4px;
}

#u193
{
	width: 166px;
	min-height: 34px;
	margin-right: -10000px;
	left: 589px;
}

#pu82,#pu1644,#pu155,#pu168,#pu181,#pu194
{
	width: 0.01px;
}

#u194
{
	z-index: 50;
	width: 166px;
	height: 34px;
	margin-right: -10000px;
}

#u196-4
{
	width: 130px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu181.MuseMenuActive #u184-4,#pu194:hover #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu194.MuseMenuActive #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu194:hover #u194,#pu194.MuseMenuActive #u194
{
	width: 166px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

._u194.f3s_mid,#pu194:hover ._u194.f3s_mid,#pu194.MuseMenuActive ._u194.f3s_mid
{
	width: 166px;
	height: 26px;
}

._u194.f3s_top,._u194.f3s_bot,#pu194:hover ._u194.f3s_top,#pu194:hover ._u194.f3s_bot,#pu194.MuseMenuActive ._u194.f3s_top,#pu194.MuseMenuActive ._u194.f3s_bot
{
	width: 166px;
	height: 4px;
}

#pu383-26
{
	width: 0.01px;
	margin-top: 41px;
}

#u383-26
{
	z-index: 77;
	width: 565px;
	min-height: 1300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu3221
{
	z-index: 85;
	width: 0.01px;
	height: 600px;
}

#u3233popup
{
	z-index: 86;
}

#u3236
{
	z-index: 87;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3236_img
{
	padding-left: 40px;
	padding-right: 40px;
}

#u3238
{
	z-index: 89;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3246
{
	z-index: 91;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3244
{
	z-index: 93;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3240
{
	z-index: 95;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3248
{
	z-index: 97;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3242
{
	z-index: 99;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3234
{
	z-index: 101;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3252
{
	z-index: 103;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3250
{
	z-index: 105;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3222popup
{
	z-index: 107;
}

#u3229-6
{
	z-index: 108;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3232-8
{
	z-index: 114;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3231-4
{
	z-index: 122;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3223-4
{
	z-index: 126;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3227-6
{
	z-index: 130;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3225-4
{
	z-index: 136;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3230-4
{
	z-index: 140;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3226-9
{
	z-index: 144;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3224-4
{
	z-index: 153;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3228-4
{
	z-index: 157;
	width: 329px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3269-4popup
{
	z-index: 161;
}

#u3268-4popup
{
	z-index: 165;
}

#u3270-4popup
{
	z-index: 169;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu4729
{
	z-index: 180;
	width: 0.01px;
	height: 402px;
}

#u3233,#u4764
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
}

#u4764popup
{
	z-index: 181;
}

#u4769
{
	z-index: 182;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4765
{
	z-index: 184;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4777
{
	z-index: 186;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4775
{
	z-index: 188;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4773
{
	z-index: 190;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4767
{
	z-index: 192;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4779
{
	z-index: 194;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4781
{
	z-index: 196;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u4771
{
	z-index: 198;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u3222,#u4730
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 360px;
}

#u4730popup
{
	z-index: 200;
}

#u4736-4
{
	z-index: 201;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4734-3
{
	z-index: 205;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4732-3
{
	z-index: 208;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4735-3
{
	z-index: 211;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4731-3
{
	z-index: 214;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4737-3
{
	z-index: 217;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4738-3
{
	z-index: 220;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4739-3
{
	z-index: 223;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u4733-4
{
	z-index: 226;
	width: 329px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	margin-right: -10000px;
	position: relative;
}

#u3269-4,#u4762-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 1.4;
	color: #00FF00;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: 360px;
	left: 381px;
}

#u4762-4popup
{
	z-index: 230;
}

#u3268-4,#u4763-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 1.4;
	color: #FFFF00;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 350px;
}

#u4763-4popup
{
	z-index: 234;
}

#u3270-4,#u4740-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 1.4;
	color: #FFFF00;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 450px;
}

#u4740-4popup
{
	z-index: 238;
}

#u383-3,#u383-9,#u383-16
{
	font-size: 1px;
	line-height: 0px;
}

#u2560
{
	z-index: 250;
	width: 504px;
	background-color: transparent;
}

#u2560_img
{
	vertical-align: bottom;
}

#u364-7
{
	z-index: 67;
	width: 185px;
	min-height: 1185px;
	margin-right: -10000px;
	left: 570px;
}

#u4969
{
	z-index: 74;
	width: 125px;
}

#u4969_img
{
	padding-bottom: 1px;
}

#u254
{
	z-index: 65;
	width: 72px;
	margin-right: -10000px;
	margin-top: 1694px;
	left: 23px;
}

#u248
{
	z-index: 63;
	width: 48px;
	margin-right: -10000px;
	margin-top: 1694px;
	left: 118px;
}

#u217-4
{
	z-index: 59;
	width: 397px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 1722px;
	left: 381px;
}

body
{
	position: relative;
	min-width: 802px;
	padding-top: 35px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1694px;
}

