.version.sponsors /* version checker */
{
	color: #0000E2;
	background-color: #0BBFA5;
}

.html
{
	background: #000000 url("../images/dot-fill.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 980px;
	background: transparent url("../images/u148-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(60%, rgba(0, 0, 0, 0.85)),to(rgba(22, 68, 19, 0.9)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.85) 60%,rgba(22, 68, 19, 0.9) );
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pu1554
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 23px;
}

#u1554
{
	z-index: 2;
	width: 755px;
}

#menuu1657
{
	z-index: 12;
	width: 755px;
	margin-top: 5px;
}

#u1708
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1709
{
	z-index: 15;
	width: 82px;
	height: 34px;
	margin-right: -10000px;
}

._u1709.f3s_top
{
	width: 82px;
	height: 4px;
}

#pu1709:hover ._u1709.f3s_top
{
	width: 82px;
	height: 4px;
}

._u1709.f3s_mid
{
	width: 82px;
	height: 26px;
}

#pu1709:hover ._u1709.f3s_mid
{
	width: 82px;
	height: 26px;
}

#pu1709.MuseMenuActive ._u1709.f3s_mid
{
	width: 82px;
	height: 26px;
}

#pu1709.MuseMenuActive ._u1709.f3s_top,._u1709.f3s_bot
{
	width: 82px;
	height: 4px;
}

#pu1709:hover ._u1709.f3s_bot
{
	width: 82px;
	height: 4px;
}

#pu1709.MuseMenuActive ._u1709.f3s_bot
{
	width: 82px;
	height: 4px;
}

#u1710-4
{
	width: 45px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1709:hover #u1710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1709:hover #u1709,#pu1709.MuseMenuActive #u1709
{
	width: 82px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1658
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 84px;
}

#u1661
{
	z-index: 24;
	width: 88px;
	height: 34px;
	margin-right: -10000px;
}

._u1661.f3s_top
{
	width: 88px;
	height: 4px;
}

#pu1661:hover ._u1661.f3s_top
{
	width: 88px;
	height: 4px;
}

._u1661.f3s_mid
{
	width: 88px;
	height: 26px;
}

#pu1661:hover ._u1661.f3s_mid
{
	width: 88px;
	height: 26px;
}

#pu1661.MuseMenuActive ._u1661.f3s_mid
{
	width: 88px;
	height: 26px;
}

#pu1661.MuseMenuActive ._u1661.f3s_top,._u1661.f3s_bot
{
	width: 88px;
	height: 4px;
}

#pu1661:hover ._u1661.f3s_bot
{
	width: 88px;
	height: 4px;
}

#pu1661.MuseMenuActive ._u1661.f3s_bot
{
	width: 88px;
	height: 4px;
}

#u1662-4
{
	width: 51px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1709.MuseMenuActive #u1710-4,#pu1661:hover #u1662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1661:hover #u1661,#pu1661.MuseMenuActive #u1661
{
	width: 88px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1701
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u1702
{
	z-index: 33;
	width: 108px;
	height: 34px;
	margin-right: -10000px;
}

._u1702.f3s_top
{
	width: 108px;
	height: 4px;
}

#pu1702:hover ._u1702.f3s_top
{
	width: 108px;
	height: 4px;
}

._u1702.f3s_mid
{
	width: 108px;
	height: 26px;
}

#pu1702:hover ._u1702.f3s_mid
{
	width: 108px;
	height: 26px;
}

#pu1702.MuseMenuActive ._u1702.f3s_mid
{
	width: 108px;
	height: 26px;
}

#pu1702.MuseMenuActive ._u1702.f3s_top,._u1702.f3s_bot
{
	width: 108px;
	height: 4px;
}

#pu1702:hover ._u1702.f3s_bot
{
	width: 108px;
	height: 4px;
}

#pu1702.MuseMenuActive ._u1702.f3s_bot
{
	width: 108px;
	height: 4px;
}

#u1705-4
{
	width: 71px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1661.MuseMenuActive #u1662-4,#pu1702:hover #u1705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1702:hover #u1702,#pu1702.MuseMenuActive #u1702
{
	width: 108px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1665
{
	width: 186px;
	min-height: 34px;
	margin-right: -10000px;
	left: 284px;
}

#u1668
{
	z-index: 42;
	width: 186px;
	height: 34px;
	margin-right: -10000px;
}

._u1668.f3s_top
{
	width: 186px;
	height: 4px;
}

#pu1668:hover ._u1668.f3s_top
{
	width: 186px;
	height: 4px;
}

._u1668.f3s_mid
{
	width: 186px;
	height: 26px;
}

#pu1668:hover ._u1668.f3s_mid
{
	width: 186px;
	height: 26px;
}

#pu1668.MuseMenuActive ._u1668.f3s_mid
{
	width: 186px;
	height: 26px;
}

#pu1668.MuseMenuActive ._u1668.f3s_top,._u1668.f3s_bot
{
	width: 186px;
	height: 4px;
}

#pu1668:hover ._u1668.f3s_bot
{
	width: 186px;
	height: 4px;
}

#pu1668.MuseMenuActive ._u1668.f3s_bot
{
	width: 186px;
	height: 4px;
}

#u1671-4
{
	width: 149px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1702.MuseMenuActive #u1705-4,#pu1668:hover #u1671-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1668:hover #u1668,#pu1668.MuseMenuActive #u1668
{
	width: 186px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1687
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 472px;
}

#u1688
{
	z-index: 51;
	width: 115px;
	height: 34px;
	margin-right: -10000px;
}

._u1688.f3s_top
{
	width: 115px;
	height: 4px;
}

#pu1688:hover ._u1688.f3s_top
{
	width: 115px;
	height: 4px;
}

._u1688.f3s_mid
{
	width: 115px;
	height: 26px;
}

#pu1688:hover ._u1688.f3s_mid
{
	width: 115px;
	height: 26px;
}

#pu1688.MuseMenuActive ._u1688.f3s_mid
{
	width: 115px;
	height: 26px;
}

#pu1688.MuseMenuActive ._u1688.f3s_top,._u1688.f3s_bot
{
	width: 115px;
	height: 4px;
}

#pu1688:hover ._u1688.f3s_bot
{
	width: 115px;
	height: 4px;
}

#pu1688.MuseMenuActive ._u1688.f3s_bot
{
	width: 115px;
	height: 4px;
}

#u1691-4
{
	width: 79px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1668.MuseMenuActive #u1671-4,#pu1688:hover #u1691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1688:hover #u1688,#pu1688.MuseMenuActive #u1688
{
	width: 115px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1694
{
	width: 166px;
	min-height: 34px;
	margin-right: -10000px;
	left: 589px;
}

#pu1709,#pu1661,#pu1702,#pu1668,#pu1688,#pu1697
{
	width: 0.01px;
}

#u1697
{
	z-index: 60;
	width: 166px;
	height: 34px;
	margin-right: -10000px;
}

._u1697.f3s_top
{
	width: 166px;
	height: 4px;
}

#pu1697:hover ._u1697.f3s_top
{
	width: 166px;
	height: 4px;
}

._u1697.f3s_mid
{
	width: 166px;
	height: 26px;
}

#pu1697:hover ._u1697.f3s_mid
{
	width: 166px;
	height: 26px;
}

#pu1697.MuseMenuActive ._u1697.f3s_mid
{
	width: 166px;
	height: 26px;
}

#pu1697.MuseMenuActive ._u1697.f3s_top,._u1697.f3s_bot
{
	width: 166px;
	height: 4px;
}

#pu1697:hover ._u1697.f3s_bot
{
	width: 166px;
	height: 4px;
}

#pu1697.MuseMenuActive ._u1697.f3s_bot
{
	width: 166px;
	height: 4px;
}

#u1698-4
{
	width: 130px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
}

#pu1688.MuseMenuActive #u1691-4,#pu1697:hover #u1698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1697.MuseMenuActive #u1698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 3px;
	left: 18px;
	min-height: 19px;
}

#pu1697:hover #u1697,#pu1697.MuseMenuActive #u1697
{
	width: 166px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u347-85
{
	z-index: 67;
	width: 755px;
	min-height: 500px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#u6296
{
	z-index: 75;
	width: 113px;
	background-color: transparent;
}

#u1410
{
	z-index: 80;
	width: 119px;
	background-color: transparent;
}

#u459
{
	z-index: 85;
	width: 235px;
	background-color: transparent;
}

#u1846
{
	z-index: 94;
	width: 178px;
	background-color: transparent;
}

#u6171
{
	z-index: 99;
	width: 95px;
	background-color: transparent;
}

#u6187
{
	z-index: 108;
	width: 181px;
	background-color: transparent;
}

#u3403
{
	z-index: 113;
	width: 160px;
	background-color: transparent;
}

#u347-10,#u347-11,#u347-12,#u347-18,#u347-19,#u347-20,#u347-26,#u347-27,#u347-28,#u347-34
{
	padding-bottom: 0px;
	padding-top: 0px;
}

#u6197
{
	z-index: 122;
	width: 200px;
	background-color: transparent;
}

#u6214
{
	z-index: 127;
	width: 134px;
	background-color: transparent;
}

#u6230
{
	z-index: 135;
	width: 155px;
	background-color: transparent;
}

#u6234
{
	z-index: 141;
	width: 200px;
	background-color: transparent;
}

#u6238
{
	z-index: 146;
	width: 96px;
	background-color: transparent;
}

#u6273
{
	z-index: 154;
	width: 143px;
	background-color: transparent;
}

#u6291
{
	z-index: 159;
	width: 144px;
	background-color: transparent;
}

#u6277
{
	z-index: 164;
	width: 82px;
	background-color: transparent;
}

#u6296_img,#u1410_img,#u459_img,#u6187_img,#u3403_img,#u6197_img,#u6214_img,#u6230_img,#u6234_img,#u6238_img,#u6273_img,#u6277_img
{
	vertical-align: bottom;
}

#u6281
{
	z-index: 169;
	width: 144px;
	background-color: transparent;
}

#u1846_img,#u6171_img,#u6291_img,#u6281_img
{
	padding-right: 1px;
	vertical-align: bottom;
}

#u441
{
	z-index: 184;
	display: block;
	vertical-align: top;
}

#u347-3,#u347-13,#u347-21,#u347-29,#u347-36,#u347-46,#u347-64,#u347-70
{
	font-size: 1px;
	line-height: 0px;
}

#u444,#u448
{
	margin-top: 20px;
	margin-bottom: 20px;
}

#u445
{
	z-index: 193;
	width: 565px;
}

.Style-01
{
	border-style: none;
	-pie-box-shadow: none;
	-moz-box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 7px 7px 8px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.75);
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.Style-01 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u445_img
{
	padding-right: 1px;
	padding-bottom: 1px;
	vertical-align: bottom;
}

#u1556
{
	z-index: 10;
	width: 72px;
	margin-right: -10000px;
	margin-top: 2314px;
	left: 23px;
}

#u1500
{
	z-index: 8;
	width: 48px;
	margin-right: -10000px;
	margin-top: 2314px;
	left: 118px;
}

#u1553-4
{
	z-index: 4;
	width: 397px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2342px;
	left: 381px;
}

body
{
	position: relative;
	min-width: 802px;
	padding-top: 35px;
	padding-bottom: 49px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2314px;
}

